<ul class="nav" style="width:100%; height:100%; padding: 10px; background: #F5F5F5;">
  <li class="nav-item" style="">
    <button class="btn btn-default responsive-font" style="height:80%;" (click) = "export();">Export</button>
  </li>
  <li class="nav-item">
    <alignment-menu></alignment-menu>
  </li>
  <li class="nav-item">
    <textStyles-menu></textStyles-menu>
  </li>
  <li class="nav-item">
    <layout-menu></layout-menu>
  </li>
  <li class="nav-item">
    <border-menu></border-menu>
  </li>
    <li class="nav-item">
      <tool-menu></tool-menu>
    </li>
</ul>